<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <style>
        .env-hint {
            font-size: 0.75rem;
            color: #4C7EFF;
            opacity: 0.75;
            word-break: break-word;
        }
        code{
            background-color: #f1f1f1;
            font-family: monospace;
        }
        .mud-tabs-tabbar-wrapper .d-inline-block{
            width: unset!important;
        }
        </style>
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
</body>

</html>
